section {
color: #fff;
text-align: center;
}

.container {
display: table;
width: 100%;
}

.left-half {
background-color: #ff9e2c;
position: absolute;
left: 0px;
width: 50%;
}

.right-half {
background-color: #b6701e;
position: absolute;
right: 0px;
width: 50%;
}

.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}

.paperbox {
    background-color: rgb(204, 200, 200);
    padding: 25px;
}

.center-header{
    text-align: center;
    font-weight:bold;
    color: rgb(236, 84, 24);
}