#profileContainer{
    display: -webkit-flex; /* Safari */
    display: flex;
    width:100%;
}
#profileLeft{
      width:400px;  
      height: 550px;
      background: rgba(100,54,60,0.5);
}
#profileLinks{
    display: flex;
    margin-top: 10px;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items: center;
    width:300px;
}
#profileLinks a{
    display: block;
    margin:10px 5px;
}

#citeNum{
    font-size: 22px;
    font-weight: bold;
}
#profileLeft>div{
    margin-bottom: 10px;
    margin-left:15px;
}
#profileRight{
    margin-top: 20px;
    width: 300px;
    flex-grow: 1;
}
#keywordImgContain{
    width: 100%;
}
#keywordRecContain{
    width: 100%;
}
#keywordImgContain img{
    display: block;
    width:80%;
    height:300px;
    margin:10px auto;
}
