#profileContainer{
    display: -webkit-flex; /* Safari */
    display: flex;
    width:100%;
}
#profileLeft{
      width:400px; 
      min-height: 550px;
      /* height: 550px; */
      background: rgba(100,54,60,0.5);
      margin-left: -10px;
      padding-left: 15px;
      padding-right: 15px;
}
#profileLinks{
    display: flex;
    margin-top: 10px;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items: center;
    width:300px;
}
#profileLinks a{
    display: block;
    margin:10px 5px;
}

#citeNum{
    font-size: 22px;
    font-weight: bold;
}

#profileRight{
    margin-top: 20px;
    margin-left:20px;
    width: 300px;
    flex-grow: 1;
}

