{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Basic Paper Search by pid or title</h2>
<form method="post">
    <label for="pid">pid: </label> <input name="pid" type="text" id="pid">
    <label for="title">title: </label> <input name="title" type="text" id="title" >
    <input type="submit" value="Start Search (with at least one keyword)">
</form>
<div style="background-color: rgb(219, 212, 212);">
    <div style="text-align: right">
      <a href="{{ url_for('searchbycategory.search_by_category') }}" type="button" class="btn btn-dark">Go to Advanced search</a>
      <a href="{{ url_for('paperindex.paperindex') }}" type="button" class="btn btn-dark">Go to List of All Papers</a>
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
{% endif %}
{% endwith %}

{% endblock %}
