{% extends "base.html" %}

{% block content %}

<br>
<div style="text-align: left">
  <a href="{{ url_for('searchbycategory.search_by_category') }}" type="button" class="btn btn-dark btn-sm"><i class="fa fa-arrow-right" aria-hidden="true" style="color:white;"></i> Search By Category</a>
  <a href="{{ url_for('basicsearch.basic_search') }}" type="button" class="btn btn-dark btn-sm"><i class="fa fa-arrow-right" aria-hidden="true" style="color:white;"></i> Search By ID or Title</a>
  <a href="{{ url_for('citation.get_citation_orders') }}" type="button" class="btn btn-info btn-sm"><i class="fa fa-arrow-right" aria-hidden="true" style="color:white;"></i> Citation History</a>
</div>
<br>
<h2>{{current_user.firstname}}'s Citation Cart:</h2>
<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  {% endif %}
  {% endwith %}
</p>
<form method="post">
    <label for="pagesize">current page size: </label>  <input name="pagesize" type="text" id="updated_pagesize" value="{{pagesize}}">
    <label for="pagenum">current page num: </label> <input name="pagenum" type="text" id="updated_pagenum" value="{{pagenum}}">
    <input class = "btn btn-secondary" type="submit" value="Apply">
</form>
<br>
<form action="" method="post" style="margin-top:-65px;">
  <input class ="btn btn-warning" id="checkoutAllButton" type = "submit" name = "action" value ="Checkout cart" style="float:right;margin-bottom:10px;margin-left:10px">
  <input class = "btn btn-secondary"  id="checkoutButton" type="submit" name="action" value="Checkout selected paper" style="float:right;margin-bottom:10px;margin-left:10px">
  <input class = "btn btn-secondary" type="submit" name="action" value="Remove selected papers" style="float:right;margin-bottom:10px;">
  <table class='table table-hover table-bordered container' style="width: 90%;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Checkbox</th>
        <th scope="col">Paper ID</th>
        <th scope="col">Paper Title</th>
        <th scope="col">Year</th>
        <th scope="col">Conference</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
      <tbody>
        {% for paper in paper_list%}
          <tr>
            <td><input class="usercartCheckbox" type="checkbox" name="remove[]" value="{{paper.pid}}"></td>
            <th scope="row">{{paper.pid}}</th>
            <td>
              <a href="{{ url_for('paperinfo.get_paper_info',pid=paper.pid )}}">{{paper.title}}</a>
            </td>
            <td>{{paper.year}}</td>
            <td>{{paper.conference}}</td>
            <td><a href="{{ url_for('citationcart.remove_paper_from_citationcart', pid=paper.pid) }}">remove</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>
<script>
  document.getElementById('checkoutButton').addEventListener(
    'click',
    async(e) => {
      //await navigator.clipboard.writeText('Yo')
      await copyToClickboard()
    }
  )
  //select checked papers, write their pids(value of the checkbox) to the clipboard
  function copyToClickboard(){
    if($('.usercartCheckbox:checked').length==0){
      alert('Please choose some papers!')
      return;
    }
  }
</script>

{% endblock %}
