{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Welcome Page</h2>
<h4 style="color: #232323;">CS 516 Project developed by Zhensheng, Yichen, Xinyu, Angikar</h4>
<a href ="{{  url_for('paperindex.paperindex') }}"><button type="button" class="btn btn-dark"> Go to list of Papers</button></a>
<a href ="{{  url_for('basicsearch.basic_search') }}"><button type="button" class="btn btn-dark"> Search by ID/title</button></a>
<a href ="{{  url_for('searchbycategory.search_by_category') }}"><button type="button" class="btn btn-dark"> Advanced search</button></a>
{% endblock %}
