{% extends "base.html" %}

{% block content %}

<br><br>
<h2>List of all papers in site:</h2>
<form method="post">
    <label for="pagesize">current page size: </label>  <input name="pagesize" type="text" id="updated_pagesize" value="{{pagesize}}">
    <label for="pagenum">current page num: </label> <input name="pagenum" type="text" id="updated_pagenum" value="{{pagenum}}">
    <input type="submit" value="Apply">
</form>
<div style="background-color: rgb(219, 212, 212);">
    <div style="text-align: right">
        <a href="{{ url_for('searchbycategory.search_by_category') }}" type="button" class="btn btn-light">Go to Search By Category</a>
        <a href="{{ url_for('basicsearch.basic_search') }}" type="button" class="btn btn-light">Go to Search By ID or Title</a>
    </div>
  </div>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Paper ID</th>
      <th scope="col">Paper Title</th>
      <th scope="col">Year</th>
      <th scope="col">Conference</th>
    </tr>
  </thead>
  <tbody>
    {% for paper in paper_list%}
      <tr>
        <th scope="row">{{paper.pid}}</th>
        <td>
          <a href="{{ url_for('paperinfo.get_paper_info',pid=paper.pid )}}">{{paper.title}}</a>
        </td>
        <td>{{paper.year}}</td>
        <td>{{paper.conference}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
