{% extends "base.html" %}

{% block content %}

<br><br>

<a href="{{ url_for('paperindex.paperindex') }}">
    <div>
        <i class="fa fa-arrow-circle-left" style="font-size:36px"></i>
    </div>
</a>

<div class="d-flex flex-row">
    <div class="paper-main-info">
        <article>
            <h2 style="font-weight: bold;">{{paper.title}}</h2>
            <div class="d-flex flex-row">
            <a href="{{ url_for('paperinfo.like_paper',pid=paper.pid) }}"><button type="button" class="btn btn-danger"><i class="fa fa-heart" style="color:white"></i> Like</button></a>
            <a href="{{ url_for('paperinfo.cite_paper',pid=paper.pid) }}"><button type="button" class="btn btn-info"><i class="fa fa-cart-plus" style="color:white"></i> Cite</button></a>
            <form method="post">
                {{collect_form.hidden_tag() }}
                <button type="submit" class="btn btn-dark"><i class="fa fa-plus" style="color:white"></i> Collect</button>
                <select  name="Collection">
                    {% for c in collection_choices %}
                        <OPTION value={{c}}>{{c}}</option>
                    {% endfor %}
                </select>
            </form>
            </div>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                  {{ message }}
                  {% endfor %}
                {% endif %}
                {% endwith %}
              </p>
            <div class="hover_bkgr_fricc">
                <span class="helper"></span>
                <div>
                    <div class="popupCloseButton">&times;</div>
                    <h3>Successfully added!</h3>
                </div>
            </div>
            <ul>
                <li>Author(s):
                    <ul>
                        {% for author in authors%}
                        <li>
                            {{author.author}}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>Paper id: {{paper.pid}}</li>
                <li>Year published: {{paper.year}}</li>
                <li>Conference published: {{paper.conference}}</li>
            </ul>
            <div class="paperbox">
                <p>
                    {% if abstract is not none %}
                        {{abstract.abstract}}
                    {% else %}
                        This paper's abstract is current unavailable.
                    {% endif %}
                </p>
            </div>  
            <h4>References</h4>
            {% if citing_papers|length >0 %}
            <table class='table table-hover table-sm table-bordered container' id="citingPaper">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Paper ID</th>
                    <th scope="col">Paper Title</th>
                    <th scope="col">Year</th>
                    <th scope="col">Conference</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paper in citing_papers %}
                    <tr>
                        <th scope="row">{{paper.pid}}</th>
                        <td>{{paper.title}}</td>
                        <td>{{paper.year}}</td>
                        <td>{{paper.conference}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            Per our dataset, this paper doesn't have any references.
            {% endif %}
        </article>
    </div>
    <div class="paper-side-info">
        {% if cited_list|length >0 %}
            This paper is cited by {{cited_list|length}} papers:
            <ol>
                {% for paper in cited_list%}
                    <li>pid: {{paper.pid}}</li>
                {% endfor %}
            </ol>
        {% else %}
            Per our dataset, this paper have not been cited.
        {% endif %}
    </div>
</div>


{% endblock %}