{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Advanced Paper Search Results</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
{% endif %}
{% endwith %}
<div style="background-color: rgb(219, 212, 212);">
  <div style="text-align: right">
    <a href="{{ url_for('searchbycategory.search_by_category') }}" type="button" class="btn btn-dark">Back to Advanced Search</a>
    <a href="{{ url_for('basicsearch.basic_search') }}" type="button" class="btn btn-dark">Go to Search by ID or Title</a>
    <a href="{{ url_for('paperindex.paperindex') }}" type="button" class="btn btn-dark">Go to List of All Papers</a>
  </div>
</div>
<h4>Showing search result for {{show_string}}</h4>

{% if (paper_list|length==0) and (pagenum==0) %}
No matching result.
{% else %}
<form method="post">
  <label for="pagenum">Current page number: </label> <input name="pagenum" type="text" id="updated_pagenum" value="{{pagenum}}">
  <input class = "btn btn-secondary btn-sm" type="submit" value="Apply">
  {{pagenum}}/{{total_num}} pages
</form>
{% if (pagenum <= total_num) and (paper_list|length!=0) %}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Paper ID</th>
      <th scope="col">Paper Title</th>
      <th scope="col">Year</th>
      <th scope="col">Conference</th>
    </tr>
  </thead>
  <tbody>
    {% for paper in paper_list%}
      <tr>
        <th scope="row">{{paper.pid}}</th>
        <td>
          <a href="{{ url_for('paperinfo.get_paper_info',pid=paper.pid )}}">{{paper.title}}</a>
        </td>
        <td>{{paper.year}}</td>
        <td>{{paper.conference}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
Page number entered exceeds maximum page number. Please enter a page number less than or equal to {{total_num}}.
{% endif %}
{% endif %}
{% endblock %}
