{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Advanced Paper Search</h2>
<form method="post">
    <label for="year">year: </label> <input name="year" type="text" id="year">
    <label for="author">author: </label> <input name="author" type="text" id="author" >
    <label for="conference">conference: </label>  <input name="conference" type="text" id="conference">
    <input type="submit" value="Start Search (with at least one keyword)">
</form>
<div style="background-color: rgb(219, 212, 212);">
    <div style="text-align: right">
      <a href="{{ url_for('basicsearch.basic_search') }}" type="button" class="btn btn-light">Go to Search by ID or Title</a>
      <a href="{{ url_for('paperindex.paperindex') }}" type="button" class="btn btn-light">Go to List of All Papers</a>
    </div>
</div>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Paper ID</th>
      <th scope="col">Paper Title</th>
      <th scope="col">Year</th>
      <th scope="col">Conference</th>
    </tr>
  </thead>
  <tbody>
    {% for paper in paper_list%}
      <tr>
        <th scope="row">{{paper.pid}}</th>
        <td>{{paper.title}}</td>
        <td>{{paper.year}}</td>
        <td>{{paper.conference}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}