{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Your submitted comments</h2>

{% if (comments|length==0) and (pagenum==0) %}
<div><em>You haven't submitted any comments yet!</em></div>
{% else %}
<form method="post">
  <label for="pagenum">Current page number: </label> <input name="pagenum" type="text" id="updated_pagenum" value="{{pagenum}}">
  <input class = "btn btn-secondary btn-sm" type="submit" value="Apply">
  Showing {{pagenum}}/{{total_num}} pages
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
{% endif %}
{% endwith %}
{% if (pagenum <= total_num) and (comments|length!=0) %}
  <table class='table table-hover table-bordered container center-table'>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Paper ID</th>
          <th scope="col">Comment Summary</th>
          <th scope="col">Comment Content</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for com in comments %}
          <tr>
            <th scope="row"><a href="{{ url_for('paperinfo.get_paper_info',pid=com.pid )}}">{{com.pid}}</a></th>
            <td>{{com.comment_sum}}</td>
            <td>{{com.comment_text}}</td>
            <td><a href="{{ url_for('users.edit_comment',pid=com.pid) }}">edit</a></td>
            <td><a href="{{ url_for('users.delete_comment',pid=com.pid) }}">delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
{% else %}
Page number entered exceeds maximum page number. Please enter a page number less than or equal to {{total_num}}.
{% endif %}
{% endif %}
{% endblock %}